body {
	background-color: white;
	color: black;
	font-family: tahoma, arial, sans-serif;
	padding: 5%;
}

h1 {
	text-align: center;
}

h2 {
	background-color: transparent;
	color: #5A5A5A;
	clear: both;
}

img.aside {
	float: left;
	margin: 0 2em 1em 0;
}

.safety {
	display: none;
}