<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
	<TITLE>Virtual Haunted House 2003</TITLE>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8">
   <LINK REL="stylesheet" href="../../layout/main.css" TYPE="text/css">
</HEAD>
<BODY>

<!-- Begin Title -->
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="625">

<TR>
	<TD ROWSPAN="3" COLSPAN="1" WIDTH="460" HEIGHT="80"><IMG SRC="../../layout/vhh2003_title.gif" ALT="Virtual Haunted House 2003" WIDTH="460" HEIGHT="80" BORDER="0"></TD>
	<TD ROWSPAN="1" COLSPAN="1" WIDTH="165" HEIGHT="28"><A HREF="../roomXX/index.html"  onMouseOver="if(document.images) document.NextRoom.src='../../layout/next_on.gif';" onMouseOut="if(document.images) document.NextRoom.src='../../layout/next_off.gif';"><IMG NAME="NextRoom" SRC="../../layout/next_off.gif" ALT="Next Room" WIDTH="165" HEIGHT="28" BORDER="0"></A></TD>
</TR>

<TR>
	<TD ROWSPAN="1" COLSPAN="1" WIDTH="165" HEIGHT="28"><A HREF="../roomXX/index.html"  onMouseOver="if(document.images) document.PreviousRoom.src='../../layout/previous_on.gif';" onMouseOut="if(document.images) document.PreviousRoom.src='../../layout/previous_off.gif';"><IMG NAME="PreviousRoom" SRC="../../layout/previous_off.gif" ALT="Previous Room" WIDTH="165" HEIGHT="28" BORDER="0"></A></TD>
</TR>

<TR>
	<TD ROWSPAN="1" COLSPAN="1" WIDTH="165" HEIGHT="24"><A HREF="../../index.html"  onMouseOver="if(document.images) document.Home.src='../../layout/home_on.gif';" onMouseOut="if(document.images) document.Home.src='../../layout/home_off.gif';"><IMG NAME="Home" SRC="../../layout/home_off.gif" ALT="Home" WIDTH="165" HEIGHT="24" BORDER="0"></A></TD>
</TR>

</TABLE>
<!-- End Title -->

<!-- Begin Artwork -->
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="625">
<TR>
<TD></TD>
</TR>
</TABLE>
<!-- End Artwork -->

<!-- Begin Story -->
<H1>Room Title</H1>
<P>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
</P>
<CITE>Mark</CITE>
<!-- End Story -->

<!-- Audio -->
<EMBED SRC="../../sounds/music01.mid" TYPE="audio/x-midi" WIDTH="1" HEIGHT="1" AUTOSTART="true" LOOP="true" HIDDEN="true">
<EMBED SRC="../../sounds/12.wav" TYPE="audio/x-wav" WIDTH="1" HEIGHT="1" AUTOSTART="true" HIDDEN="true">

</BODY>
</HTML>